<div class="container-fluid"> 
    <div class="row color-der">
        <div class="col-3 home-col home-menu-lis" style="margin-Top:10px;">
            <%= render :template =>'../layouts/options.html.erb'%>
        </div>
        <div class=" col-6 home-col-border home-col" style="padding:0">
            <%= render :template =>'../tweets/index.html.erb', tweet: @tweets %>
        </div>
        <div class="col-3 home-col">
            <%= form_tag('/search') do%>
                <%= text_field_tag("termino",value=nil, options={class: "home-barra-busqueda", placeholder: "Search Twitter"}) %>
                <!--<input placeholder="Search Twitter" class="home-barra-busqueda">
                <%= submit_tag(value = "Buscar") %> -->
            <% end %>
           <%= render :template =>'../user/listUsers.html.erb', user: @users %>
        </div>
    </div>
<div>
<script src="https://kit.fontawesome.com/c796510b88.js" crossorigin="anonymous"></script>   