<div class="container-fluid"> 
    <div class="row color-der">
      <div class="col-3 home-col home-menu-lis" style="margin-Top:10px;">
            <div style="position: fixed">
                <span class='row ' style=' padding-left: 5%;'>
                    <img src="./images/gorjeo.svg" width="30px"  style="margin-bottom:20px"> 
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/casa.svg" width="25px"  > 
                    </div>
                    
                    <a style="font-size: 17px; margin-left:25px; font-weight: bold;" href="/">Home</a>
                    
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/etiqueta.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">Explore</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/campana.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">Notifications</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/email.svg" width="25px" > 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">Messages</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/marcador.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">Bookmarks</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/lista.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">List</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/usuario.svg" width="25px"> 
                    </div>
                    
                    <%= link_to 'profile', profile_path(user: current_user), 
                    {:style=>'font-size: 17px; margin-left:25px; font-weight: bold;color:#FFFFFF;', :class => "css_class"} %>
                    
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="./images/mas.svg" width="25px"> 
                    </div>
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">More</h2>
                </span>
                <span>
                    <div>
                    <input type="modal-tweet" name="modal-tweet" class=" btn btn1"  value="Tweet" data-disable-with="Tweet"
                    style="width: auto; font-size:15px; width:200px;height:45px;">
                    </div>
                </span>
            </div>

            <div class="btn-group dropup" style="margin-top:45%; position: fixed">
                 <span class='row home-menu-lis-item' style="padding-right: 10px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <div>
                        <img src="./images/default_profile_400x400.png" width="30px" style="border-radius: 25px;"> 
                    </div>
                    <h1 style="font-size: 15px; margin-left:25px; font-weight: bold;"><%= current_user.name%>
                        <!--<p>@UserName</p>-->
                        <i class="fas fa-angle-down" style='margin-left:25px;'></i>
                    </h1>                 
                </span>
                <div class="dropdown-menu color-der home-toggel">
                <span class='row '>
                    <div>
                        <img src="./images/default_profile_400x400.png" width="30px" style="border-radius: 25px;">  
                    </div>
                    <h1 style="font-size: 17px; margin-left:25px; font-weight: bold;"><%= current_user.name%></h1>
                </span>
                <hr style='background:white; height:0.1px;'>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete%>
                </div>
            </div>
        </div>
     
      <div class=" col-6 home-col-border home-col" style="padding:0">
        <%= form_tag('/search') do%>
                <%= text_field_tag("termino",value=nil, options={class: "home-barra-busqueda", placeholder: "Search Twitter"}) %>
                <!--<input placeholder="Search Twitter" class="home-barra-busqueda">
                <%= submit_tag(value = "Buscar") %> -->
        <% end %>
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button" onclick="openCity('London')">Tweets</button>
            <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Users</button>
        </div>
        <div id="London" class="city">
            <% @tweets.each do |tweet| %>
                <div class="card" style="color:white; background-color:#15202b;border-radius:0; border-bottom:1px solid grey">
                <div class="card-body">
                <div class="row">
                    <div style="width:10%;">
                    <img src="../images/default_profile_400x400.png" class="profile_image"> 
                    </div>
                    <div style="width:90%;">
                        <div class="row" >
                        <p style="font-weight: bold;margin-left:15px"><%= tweet.user.name %></p>
                        <p class="username">@UserName</p>
                        <p class="username">.</p>
                        <%date = tweet.created_at%>
                        <p class="username"><%= FormatDate(date) %></p>
                        </div>
                        <p><%= tweet.text %></p>
                        <%= image_tag  tweet.image.variant(resize_to_limit: [530,700]) if tweet.image.attached? %>
                        <div class="row">
                        <div class=" col-11 d-flex justify-content-around">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            <div class="card-link"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                        </div>

                        </div>
                
                    </div>
                </div>
                </div>
                </div>
            <% end %>
        </div>
        <div id="Paris" class="city" style="display:none">
            <%@users.each do |user| %>
                <a href="/profile?user=<%=user.id%>">
                <div class="card" style="color:white; background-color:#15202b;border-radius:0; border-bottom:1px solid grey">
                    <div class="card-body card-link">
                    <div class="row">
                    <div style="width:10%;">
                        <img src="../images/default_profile_400x400.png" class="profile_image"> 
                    </div>
                    <div style="width:75%;">
                        <div class="row" >
                            <p style="font-weight: bold;margin-left:15px"><%= user.name %></p>
                            <p class="username">@UserName</p>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                </a>
            <% end %>
        </div>
        <br>
      </div>
    </div>
</div>
 <script src="https://kit.fontawesome.com/c796510b88.js" crossorigin="anonymous"></script>
 <script>
 function openCity(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(cityName).style.display = "block";
}
 </script>