<p id="notice"><%= notice %></p>
<!-- 
<h1 style="color:white;">Tweets</h1>

<table>
  <thead>
    <tr>
      <th style="color:white;">Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="color:white;">
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<% @tweets.each do |tweet| %>
<div class="card" style="color:white; background-color: rgb(5, 21, 46);">
  <div class="card-body">
  <div class="row">
    <div style="width:10%;">
      <img src="../images/default_profile_400x400.png" class="profile_image"> 
    </div>
    <div style="width:90%;">
        <p><%= tweet.text %></p>
        <div class="row">
          <div class=" col-11 d-flex justify-content-around">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
              <div class="card-link"><%= link_to 'Show', tweet %></div>
              <div class="card-link"><%= link_to 'Edit', edit_tweet_path(tweet) %></div>
              <div class="card-link"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>

        </div>
 
    </div>
  </div>
  </div>
</div>
<% end %>
<br>
<!--<%= link_to 'New Tweet', new_tweet_path %>-->
