<div class="container-fluid"> 
    <div class="row color-der">
        <div class="col-3 home-col home-menu-lis" style="margin-Top:10px;">

            <%= render :template =>'layouts/options.html.erb'%>

        <div class=" col-6 home-col-border home-col" style="padding:0">
            <div class="card color-der" style="padding-bottom:15px;padding-top:15px;  border-radius:0" ><!--style="color:white; background-color: rgb(5, 21, 46);"-->
                <div class="card-body" style="padding:0">
                    <h5 class="card-title home-padding-col" style="font-weight: bold;"><%= @user.name%></h5>
                        
                    <div style="height:200px;background:grey;">
                        
                    </div>
                    <div class="col-12 row d-flex" >
                        <div class="col-8 justify-content-start" style="bottom:50px;" >
                            <img src="../images/default_profile_400x400.png" class="profile_image2"> 
                            <p ><%= @user.name%></p>
                            <p style="color:grey;">@UserName</p>
                            <p>Joined <%= JoinedDate(@user.created_at)%></p>
                            <div class="row col-12">
                                    <a><%= @user.following.count %> <p style="color:grey;">
                                    <%= link_to 'Following ', profile_following_path(user: @user) %>&nbsp;</p></a>
                                    <p><%= @user.followers.count %> <p style="color:grey;">
                                    <%= link_to 'Followers ', profile_followers_path(user: @user) %></p></p>       
                            </div>
                            
                        </div>

                        <div class="col-4 justify-content-end">
                            <% if (current_user!=@user) %>
                                <div id="follow_form">
                                <% if current_user.following?(@user) %>
                                    <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                                                html: { method: :delete },
                                                remote: true) do |f| %>
                                        <input type="submit" name="commit" class="btn btn2" style="width:50%" value="Unfollow">
                                        <% end %>
                                <% else %>
                                    <form  id="follow_form" target="_self" name="follow_form" action="/relationships" accept-charset="UTF-8" method="post">
                                            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                            <div><%= hidden_field_tag :followed_id, @user.id %></div>
                                            <input type="submit" name="commit" class="btn btn2" style="width:50%" value="Follow">
                                    </form> 
                                <% end %>
                                </div>

                            <!-- Button trigger modal -->
                            <button type="button"class=" btnsmall btn2" style="width=50px" data-toggle="modal" data-target="#MessageModal">
                            Send private message
                            </button>

                            <!-- Modal -->
<div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="MessageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MessageModalLabel" style="color:black">Send a message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="new_message" id="new_message" target="_self" name="new_message" action="/message/<%=@user.id%>" accept-charset="UTF-8" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            
            <textarea  autofocus="autofocus" placeholder="Write a message here" style="font-size:17px;width:90%;heigth:200px"
            name="message[text]" id="message_text" maxlength="400"></textarea>

            <input type="hidden" name="message[user_name]" id="message_user_name" value="<%=current_user.name%>">
            <input type="hidden" name="message[emisor_id]" id="emisor_user_id" value="<%=current_user.id%>">
            <input type="hidden" name="message[user_id]" id="message_user_id" value="<%=@user.id%>">
            
          <br>

            <div class="modal-footer">
            <div class="justify-content-between" style="width:100%;">
                  <button type="button" class="btn btn-secondary" style="width:30%;" data-dismiss="modal">Close</button>
                  <input type="submit" name="commit" class="btn btn1"
                  formtarget="_self" value="Send" style="width:60%;" data-disable-with="Send">
            </div>
            
  
            </div>
            
        </form>
      </div>

    </div>
  </div>
</div>

                            <%else%>
                                <a class=" btnsmall btn2" style="width=50px">Set up profile</a>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 home-col">
           <input placeholder="Search Twitter" class="home-barra-busqueda">
        </div>
    </div>
<div>
<script src="https://kit.fontawesome.com/c796510b88.js" crossorigin="anonymous"></script>