        <div style="position: fixed">
                <span class='row ' style=' padding-left: 5%;'>
                    <img src="../../images/gorjeo.svg" width="30px"  style="margin-bottom:20px"> 
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/casa.svg" width="25px"  > 
                    </div>
                    
                    <a style="font-size: 17px; margin-left:25px; font-weight: bold;" href="/">Home</a>
                    
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/etiqueta.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">Explore</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/campana.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">Notifications</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/email.svg" width="25px" > 
                    </div>
                    
                    <%= link_to 'Messages', getMessages_path(id1: current_user.id, id2: nil), 
                    {:style=>'font-size: 17px; margin-left:25px; font-weight: bold;color:#FFFFFF;', :class => "css_class"} %>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/marcador.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">Bookmarks</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/lista.svg" width="25px"> 
                    </div>
                    
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">List</h2>
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/usuario.svg" width="25px"> 
                    </div>
                    
                    <%= link_to 'Profile', profile_path(user: current_user), 
                    {:style=>'font-size: 17px; margin-left:25px; font-weight: bold;color:#FFFFFF;', :class => "css_class"} %>
                    
                </span>
                <span class='row home-menu-lis-item'>
                    <div>
                        <img src="../../images/mas.svg" width="25px"> 
                    </div>
                    <h2 style="font-size: 17px; margin-left:25px; font-weight: bold;">More</h2>
                </span>
                <span>
                    <div>
                    <input type="modal-tweet" name="modal-tweet" class=" btn btn1"  value="Tweet" data-disable-with="Tweet"
                    style="width: auto; font-size:15px; width:200px;height:45px;">
                    </div>
                </span>

                <div class="btn-group dropup" style="margin-top:45%;">
                 <span class='row home-menu-lis-item' style="padding-right: 10px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <div>
                        <img src="../../images/default_profile_400x400.png" width="30px" style="border-radius: 25px;"> 
                    </div>
                    <h1 style="font-size: 15px; margin-left:25px; font-weight: bold;"><%= current_user.name%>
                        <!--<p>@UserName</p>-->
                        <i class="fas fa-angle-down" style='margin-left:25px;'></i>
                    </h1>                 
                </span>
                <div class="dropdown-menu color-der home-toggel">
                <span class='row '>
                    <div>
                        <img src="../../images/default_profile_400x400.png" width="30px" style="border-radius: 25px;">  
                    </div>
                    <h1 style="font-size: 17px; margin-left:25px; font-weight: bold;"><%= current_user.name%></h1>
                </span>
                <hr style='background:white; height:0.1px;'>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete%>
                </div>
            </div>
            </div>


        </div>
        <script src="https://kit.fontawesome.com/c796510b88.js" crossorigin="anonymous"></script>